$bg-primary-color: #ffffff;
$bg-secondary-color: #f0f0f0;
$bg-tertiary-color: #e4e4e4;
$bg-quaternary-color: rgba(222, 222, 222, 0.402);

$font-primary-color: #7300FF;
$font-secondary-color: #411D67;
$font-tertiary-color: #f0f0f0;

$border-primary-color: #7300FF;

$box-shadow-primary: 1.88px 3.45px 8px rgba(0 , 0, 0, .4);

$bg-hover-color: #8e63c2;

$placeholder-text-color: #a892c4;

$fill-svg-color: #a892c4;
$fill-svg-hover-color: #7300FF;