@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    outline: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100%;
    background: #f5f5f5;
    position: relative;
}

@media (max-width: 990px) {
    .principal .imgProfile {
        width: 200px;
        height: 200px;
    }

    .principal .apresentacao {
        width: 500px;
        height: 200px;
    }
}

@media (max-width: 855px) {
    .principal .imgProfile {
        width: 200px;
        height: 200px;
    }

    .principal .apresentacao {
        width: 400px;
        height: 200px;
        font-size: 16px;
    }
}

@media (max-width: 720px) {
    .principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .principal .imgProfile {
        width: 200px;
        height: 200px;
    }

    .principal .apresentacao {
        width: 400px;
        height: 50px;
        font-size: 16px;
    }
}

@media (max-width: 690px) {
    .contato .tituloContato {
        margin-bottom: 15px;
    }

    .contato .leftInfo {
        padding-bottom: 1.2em;
        border-bottom: 2px solid #411D67;
    }

    .contato .rightInfo {
        margin-top: 1em;
    }
}

@media (max-width: 467px) {
    header .logo a {
        font-size: 14px;
    }

    header .nav-list .nav-item .nav-link {
        font-size: 14px;
    }

    .principal .imgProfile {
        width: 170px;
        height: 170px;
    }

    .principal .apresentacao {
        width: 100%;
        height: 50px;
        font-size: 14px;
    }

    .sobreMim .textoSobre h2 {
        font-size: 18px;
    }

    .sobreMim .textoSobre p {
        font-size: 14px;
    }

    .conhecimento .tituloSkill h2 {
        font-size: 18px;
    }

    .contato .tituloContato h2 {
        font-size: 18px;
    }

    .contato .divInfos .leftInfo .email h3, .redeSocial h3 {
        font-size: 16px;
    }

    .contato .divInfos .rightInfo .curriculo h3, .telefone h3 {
        font-size: 16px;
    }

    footer .nav-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
        gap: 15px;
    }

    .nav-footer .logo a {
        font-size: 14px;
    }

    .nav-footer .nav-list .nav-item .nav-link {
        font-size: 14px;
    }

    footer .copy {
        font-size: 12px;
    }
}